#path{
    width: 800px;
    height: 800px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.node{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
}

.node:hover{
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transform: scale(1.1);
}

#aStar{
    width: 150px;
    height: 40px;
    box-shadow: 0px 0px 3px 0px rgb(5, 255, 125);
    background-color: rgb(5, 255, 125);
    border-radius: 6px;
    border: none;
    font-size: 18px;
    text-align: left;
    padding-left: 15px;
    font-family: Roboto;
}

#aStar:hover{
    cursor: pointer;
    transform: scale(1.05);
    background-color: rgba(5, 255, 125, 0.4);
}

#maze{
    width: 150px;
    height: 40px;
    box-shadow: 0px 0px 3px 0px rgb(255, 155, 5);
    background-color: rgb(255, 155, 5);
    border-radius: 6px;
    border: none;
    font-size: 18px;
    font-family: Roboto;
}

#maze:hover{
    cursor: pointer;
    transform: scale(1.05);
    background-color: rgba(255, 155, 5, 0.4);
}

#clear{
    width: 150px;
    height: 40px;
    box-shadow: 0px 0px 3px 0px rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
    border-radius: 6px;
    border: none;
    font-size: 18px;
    font-family: Roboto;
}

#clear:hover{
    cursor: pointer;
    transform: scale(1.05);
    background-color: rgba(255, 0, 0, 0.4);
}

.toolbar{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.placemenetSelect{
    width: 150px;
    height: 40px;
    background-color: rgb(245, 245, 245);
    border-radius: 6px;
    border: none;
    font-size: 18px;
    font-family: Roboto;
    transform: scale(0.95);
}

.placemenetSelect:hover{
    cursor: pointer;
    transform: scale(1.0);
}

.placementSelected{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 3px 0px rgb(195, 196, 191);
}

#gridSize{
    width: 250px;
    height: 30px;
    margin-left: calc(50% - 125px);
    margin-top: 20px;
    padding-left: 8px;
    font-size: 14px;
    font-family: Roboto;
    font-weight: bold;
    border: none;
    background-color: rgb(225, 225, 225);
    border-radius: 5px;
}

#gridSize:focus{
    background: white;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
    outline: none;
}

#infoSlide{
    position: fixed;
    width: 150px;
    height: 450px;
    background-color: white;
    left: 0px;
    top: calc(50% - 225px);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#algorithmExpand:hover{
    cursor: pointer;
    scale: 1.1;
    opacity: 0.7;
}

.expandAlgorithmOption{
    width: 150px;
    margin-top: 3px;
    height: 25px;
    background-color: rgb(5, 255, 125);
    border: none;
    border-radius: 7px;
    font-family: Roboto;
    font-weight: bold;
    text-align: left;
}

.expandAlgorithmOption:hover{
    cursor: pointer;
    opacity: 0.6;
    transform: scale(1.05);
}

#bottomNav{
    position: fixed;
    width: 100%;
    height: 100px;
    left: 0;
    top: calc(100% - 100px);
    background-color: white;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
    opacity: 0.4;
}

#bottomNav:hover{
    opacity: 1;
}

#settingsButton{
    position: fixed;
    left: 0;
    top: 0;
    width: 70px;
    height: 70px;
    background-color: rgb(245, 245, 245);;
    border: none;
    border-radius: 35px;
    margin-left: 10px;
    margin-top: 10px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
    opacity: 0.5;
    transform: scale(0.9);
}

#page{
    width: 100%;
    height: 100%;
    filter: blur(0px);
}

#settingsButton:hover{
    opacity: 1;
    cursor: pointer;
    transform: scale(1.0);
}

#settingsDiv{
    width: 500px;
    height: 300px;
    margin-left: calc(50% - 250px);
    margin-top: calc(50vh - 150px);
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    visibility: hidden;
}

.settingInput{
    width: 450px;
    height: 30px;
    margin-left: 20px;
    padding-left: 8px;
    font-size: 14px;
    font-family: Roboto;
    font-weight: bold;
    border: none;
    background-color: rgb(225, 225, 225);
    border-radius: 5px;
}

.settingInput:focus{
    background: white;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
    outline: none;
}

.settingOverlay{
    position: absolute;
    margin-left: -450px;
    margin-top: 7px;
    font-family: Roboto;
    font-weight: bold;
    opacity: 0.6;
    pointer-events: none;
    transition-duration: 0.1s;
}

.settingOverlayFocus{
    position: absolute;
    margin-left: -458px;
    margin-top: -18px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 2px;
    font-size: 14px;
    font-family: Roboto;
    font-weight: bold;
    opacity: 0.6;
    pointer-events: none;
}

#tutorial{
    width: 450px;
    height: 350px;
    background-color: rgba(79, 94, 133, 0.9);
    position: fixed;

    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    margin-left: calc(50vw - 225px);
    margin-top: calc(50vh - 175px);
    z-index: 3;
}

#tutorial_button{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    position: absolute;
    margin-left: calc(50% - 100px);
    translate:  0px 80px;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 1000;
    background-color: orange;
}

#tutorial_button:hover{
    cursor: pointer;
    transform: scale(1.05);
    opacity: 0.7;
}